@page
@model OnlineStoreV1.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<h2 class="text-danger pt-2 pb-3">Create a new account</h2>

<div class="row backgroundWhite border">
    <div class="col-md-8">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label></label>
                    </div>
                    <div class="col-8">
                        <input  class="form-control" />
                    </div>
                    <span  class="text-danger"></span>
                </div>
            </div>

             <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label>Email</label>
                    </div>
                    <div class="col-8">
                        <input  class="form-control" />
                    </div>
                    <span  class="text-danger"></span>
                </div>

            </div>
                <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label>PhoneNumber</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" />
                    </div>
                    <span  class="text-danger"></span>
                </div>
                  <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label >Password</label>
                    </div>
                    <div class="col-8">
                        <input  class="form-control" />
                    </div>
                    <span  class="text-danger"></span>
                </div>
            </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label>ConfirmPassword</label>
                    </div>
                    <div class="col-8">
                        <input  class="form-control" />
                    </div>
                    <span class="text-danger"></span>
                </div>
            </div>
           @*  @if (User.IsInRole(SD.AdminEndUser))
            {
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Input.IsAdmin"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.IsAdmin" class="form-control" />
                    </div>
                </div>
            </div>
            }*@
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-danger" style="width:608px">Register</button>
                    </div>
                </div>
            </div>
                    </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}